speech_to_text.json
[
    {
        "id": "4499f9ca.be8468",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d226753.12d59",
        "type": "watson-conversation-v1",
        "z": "4499f9ca.be8468",
        "name": "",
        "workspaceid": "",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": false,
        "service-endpoint": "",
        "timeout": "",
        "optout-learning": false,
        "x": 631.7731132507324,
        "y": 375.5764350891113,
        "wires": [
            [
                "6d961a3.25a7764",
                "46be8bef.2cf8b4"
            ]
        ]
    },
    {
        "id": "3a24ee47.53444a",
        "type": "watson-speech-to-text",
        "z": "4499f9ca.be8468",
        "name": "",
        "alternatives": "",
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "",
        "word-confidence": false,
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": false,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": false,
        "service-endpoint": "",
        "x": 122.02312088012695,
        "y": 377.8264207839966,
        "wires": [
            [
                "f98ff6bc.734b08"
            ]
        ]
    },
    {
        "id": "d737fc26.371d08",
        "type": "watson-text-to-speech",
        "z": "4499f9ca.be8468",
        "name": "",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_LauraVoice",
        "voicehidden": "es-ES_LauraVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": true,
        "default-endpoint": false,
        "service-endpoint": "",
        "x": 1071.7731227874756,
        "y": 404.9097843170166,
        "wires": [
            [
                "2c371e09.711bc2"
            ]
        ]
    },
    {
        "id": "f98ff6bc.734b08",
        "type": "function",
        "z": "4499f9ca.be8468",
        "name": "set payload",
        "func": "msg.payload = msg.transcription;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 304.0231246948242,
        "y": 375.8264217376709,
        "wires": [
            [
                "ab4ea561.43bce",
                "3d226753.12d59"
            ]
        ]
    },
    {
        "id": "2c371e09.711bc2",
        "type": "function",
        "z": "4499f9ca.be8468",
        "name": "set payload",
        "func": "msg.payload = msg.speech;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1242.4398746490479,
        "y": 404.9097843170166,
        "wires": [
            [
                "13acc8bc.54e13f"
            ]
        ]
    },
    {
        "id": "13acc8bc.54e13f",
        "type": "play audio",
        "z": "4499f9ca.be8468",
        "name": "",
        "voice": "0",
        "x": 1401.7731685638428,
        "y": 404.9097843170166,
        "wires": []
    },
    {
        "id": "75167254.39be84",
        "type": "watson-conversation-v1",
        "z": "4499f9ca.be8468",
        "name": "",
        "workspaceid": "",
        "multiuser": true,
        "context": true,
        "x": 508.1064338684082,
        "y": 1619.2430934906006,
        "wires": [
            [
                "ba32da46.e7869"
            ]
        ]
    },
    {
        "id": "f52a66f9.83ca5",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 99.1064338684082,
        "y": 1537.2430934906006,
        "wires": [
            [
                "47e253b1.f68acc"
            ]
        ]
    },
    {
        "id": "673b0206.e8cfcc",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "watson",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 99.6064338684082,
        "y": 1574.2430934906006,
        "wires": [
            [
                "47e253b1.f68acc"
            ]
        ]
    },
    {
        "id": "47e253b1.f68acc",
        "type": "function",
        "z": "4499f9ca.be8468",
        "name": "set user 1",
        "func": "msg.user = '1';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270.6064338684082,
        "y": 1573.2430934906006,
        "wires": [
            [
                "75167254.39be84"
            ]
        ]
    },
    {
        "id": "ddc4a652.e178f",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 98.1064338684082,
        "y": 1658.2430934906006,
        "wires": [
            [
                "7a0db1a4.ac62c8"
            ]
        ]
    },
    {
        "id": "7e14d889.69c338",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "cics",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 98.6064338684082,
        "y": 1694.2430934906006,
        "wires": [
            [
                "7a0db1a4.ac62c8"
            ]
        ]
    },
    {
        "id": "7a0db1a4.ac62c8",
        "type": "function",
        "z": "4499f9ca.be8468",
        "name": "set user 2",
        "func": "msg.user = '2';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 269.6064338684082,
        "y": 1693.2430934906006,
        "wires": [
            [
                "75167254.39be84"
            ]
        ]
    },
    {
        "id": "ba32da46.e7869",
        "type": "debug",
        "z": "4499f9ca.be8468",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.output.text",
        "x": 727.1064338684082,
        "y": 1619.2430934906006,
        "wires": []
    },
    {
        "id": "cfe70181.83a6e8",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 275.1064338684082,
        "y": 1440.2430934906006,
        "wires": [
            [
                "75167254.39be84"
            ]
        ]
    },
    {
        "id": "35e37c83.7eaaf4",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "watson",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 275.1064338684082,
        "y": 1476.2430934906006,
        "wires": [
            [
                "75167254.39be84"
            ]
        ]
    },
    {
        "id": "27eded06.932e9a",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 146.6064338684082,
        "y": 1788.2430934906006,
        "wires": [
            [
                "3bad8548.ed7152"
            ]
        ]
    },
    {
        "id": "3bad8548.ed7152",
        "type": "function",
        "z": "4499f9ca.be8468",
        "name": "reset context",
        "func": "msg.params = {\n    context: {}\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 291.6064338684082,
        "y": 1788.2430934906006,
        "wires": [
            [
                "75167254.39be84"
            ]
        ]
    },
    {
        "id": "f8cdf5d3.29a5e8",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "yes",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 99.6064338684082,
        "y": 1610.2430934906006,
        "wires": [
            [
                "47e253b1.f68acc"
            ]
        ]
    },
    {
        "id": "b5886d1.967b39",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "yes",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 98.1064338684082,
        "y": 1730.2430934906006,
        "wires": [
            [
                "7a0db1a4.ac62c8"
            ]
        ]
    },
    {
        "id": "f8f0b66e.b68f2",
        "type": "inject",
        "z": "4499f9ca.be8468",
        "name": "",
        "topic": "",
        "payload": "yes",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 275.1064338684082,
        "y": 1512.2430934906006,
        "wires": [
            [
                "75167254.39be84"
            ]
        ]
    },
    {
        "id": "76bdc7cd.ec0aa",
        "type": "microphone",
        "z": "4499f9ca.be8468",
        "name": "",
        "x": 111.27312088012695,
        "y": 329.5764102935791,
        "wires": [
            [
                "3a24ee47.53444a"
            ]
        ]
    },
    {
        "id": "6d961a3.25a7764",
        "type": "function",
        "z": "4499f9ca.be8468",
        "name": "set payload ",
        "func": "response = \"\";\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response += '<p><s>' + msg.payload.output.text[x] + '</s></p><break time=\"1000ms\"/>';\n}\nmsg.payload =response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 797.9397888183594,
        "y": 374.2430782318115,
        "wires": [
            [
                "d737fc26.371d08",
                "283caefb.f58df2"
            ]
        ]
    },
    {
        "id": "636bee8c.f4f9a8",
        "type": "comment",
        "z": "4499f9ca.be8468",
        "name": "speech in",
        "info": "fundacion",
        "x": 67.50000381469727,
        "y": 294.1111936569214,
        "wires": []
    },
    {
        "id": "35cd05f1.700b7a",
        "type": "comment",
        "z": "4499f9ca.be8468",
        "name": "conversations call and output",
        "info": "",
        "x": 613.7500419616699,
        "y": 300.36119270324707,
        "wires": []
    },
    {
        "id": "ab4ea561.43bce",
        "type": "debug",
        "z": "4499f9ca.be8468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 431.0000057220459,
        "y": 327.5999803543091,
        "wires": [],
        "l": false
    },
    {
        "id": "283caefb.f58df2",
        "type": "debug",
        "z": "4499f9ca.be8468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050.6000366210938,
        "y": 300.5999984741211,
        "wires": [],
        "l": false
    },
    {
        "id": "46be8bef.2cf8b4",
        "type": "debug",
        "z": "4499f9ca.be8468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 831.6000366210938,
        "y": 295.6000003814697,
        "wires": [],
        "l": false
    }
]